<h1>Bienvenue {{name}} </h1>

<a href="/loggout" class="container-login100-form-btn">Deconnexion</a>

<a href="/home/new_art"> Editer un article</a>
<h3>Article :</h3>
<table>
    <thead>
        <th>Title :</th>
        <th>Article :</th>
        <th>Tag :</th>
        <th>Date</th>
    </thead>
    <tbody>
        {{#each article}}
        <tr>
            <td>{{this.name_art}}</td>
            <td>{{this.article}}</td>
            <td>{{this.tag}}</td>
            <td>{{this.date}}</td>
            <td><a href="/home/commentaires">Commentaires</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>